*{
    margin: auto;
    padding: auto;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    width: 25%;
    height: 400px;
    float: left;
    background-color: #E1BEE7;
}

header{
    width: 75%;
    height: 150px;
    background-color: #9C64A6;
    float: right;
}

header h1{
    text-align: center;
    color: white;
    font-size: 170%;
    letter-spacing: 5px;
    justify-content: center;

}

aside{
    width: 25%;
    height: 330px;
    background-color: #E1BEE7;
    float: right;
}

main {
    width: 75%;
    height: 580px;
    float: right;
    font-size: 170%;
    text-align: center;
    color: indigo;
}

footer {
    background-color: #9C64A6;
    color: white;
    padding: 10px;
    width: 100%;
    clear: both;
}

h2 {
    text-align: center;
}

ul {
    list-style: circle;
}

img {
    margin: 15px;
    padding: 4px;
}

img:hover {
    padding: 3px;
    border: 1px dashed indigo;
}

.odsyłacz {
    padding: 25px;
}

.img1 {
    width: 240px;
}

.img2 {
    width: 700px;
}
